<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epim.mapper.DepartmentMapper">

	<resultMap id="DepartmentMap" type="com.epim.entity.Department">
		<id column="department_number" jdbcType="VARCHAR" property="departmentNumber"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="manager" jdbcType="VARCHAR" property="manager"/>
		<result column="telephone" jdbcType="VARCHAR" property="telephone"/>
		<result column="address" jdbcType="VARCHAR" property="address"/>
		<result column="notes" jdbcType="VARCHAR" property="notes"/>
	</resultMap>

	<select id="findAll" resultMap="DepartmentMap">
		select * from department
	</select>

	<select id="findById" resultMap="DepartmentMap" parameterType="java.lang.String">
		select * from department where department_number=#{id};
	</select>

	<insert id="insert" parameterType="com.epim.entity.Department">
		insert into department(department_number,name,manager,telephone,address,notes)
		values(#{param.departmentNumber},#{param.name},#{param.manager},
			#{param.telephone},#{param.address},#{param.notes});
	</insert>

	<update id="update" parameterType="com.epim.entity.Department">
		update department
		<set>
			<if test="param.departmentNumber!=null">
				department_number=#{param.departmentNumber},
			</if>
			<if test="param.name!=null">
				name=#{param.name},
			</if>
			<if test="param.manager!=null">
				manager=#{param.manager},
			</if>
			<if test="param.telephone!=null">
				telephone=#{param.telephone},
			</if>
			<if test="param.address!=null">
				address=#{param.address},
			</if>
			<if test="param.notes!=null">
				notes=#{param.notes},
			</if>
		</set>
		where department_number=#{param.departmentNumber};
	</update>

	<delete id="deleteById" parameterType="java.lang.String">
		delete from department where department_number=#{id};
	</delete>
</mapper>