<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epim.mapper.UserMapper">

    <resultMap id="userMap" type="com.epim.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="employee_number" jdbcType="VARCHAR" property="employeeNumber"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="power" jdbcType="VARCHAR" property="power"/>
    </resultMap>

    <select id="findById" resultMap="userMap" parameterType="java.lang.String">
        select * from user where employee_number=#{id};
    </select>

    <insert id="insert" parameterType="com.epim.entity.User">
        insert into user (employee_number,name,password,power)
        values (#{param.employeeNumber},#{param.name},#{param.password},#{param.power});
    </insert>

    <update id="update" parameterType="com.epim.entity.User">
        update user
        <set>
            <if test="param.employeeNumber!=null">
                employee_number=#{param.employeeNumber},
            </if>
            <if test="param.name!=null">
                name=#{param.name},
            </if>
            <if test="param.password!=null">
                password=#{param.password},
            </if>
            <if test="param.salt!=null">
                salt=#{param.salt},
            </if>
            <if test="param.power!=null">
                power=#{param.power},
            </if>
        </set>
        where employee_number=#{param.employeeNumber};
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from USER where employee_number=#{id}
    </delete>
</mapper>